<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Title</title>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
    <body>
        <div class="container">
            <form th:action="@{/todo/save}" method="post" th:object="${todo}">
                <div>
                    <input type="hidden" th:field="*{id}">
                    <input type="hidden" th:if="${todo.id == null}" th:field="*{status}">
                </div>
                <div class="form-group">
                    <label for="content" th:text="#{label.content}">Nội dung</label>
                    <input class="form-control" type="text" id="content" th:field="*{content}">
                    <small class="text-danger"
                           th:if="${#fields.hasErrors('content')}"
                           th:errors="*{content}"></small>
                </div>
                <div class="form-group">
                    <label for="dueDate" th:text="#{label.duedate}">Ngày hết hạn</label>
                    <input class="form-control" type="date" id="dueDate" th:field="*{dueDate}">
                    <small class="text-danger"
                           th:if="${#fields.hasErrors('dueDate')}"
                           th:errors="*{dueDate}"></small>
                </div>
                <div class="form-group">
                    <label for="priority" th:text="#{label.priority}">Độ ưu tiên</label>
                    <select class="form-control" th:field="*{priority}" id="priority">
                        <option th:each="p : ${priorities}"
                                th:value="${p}"
                                th:text="#{ 'label.' + ${p.toString().toLowerCase()} }">
                        </option>
                    </select>
                    <small class="text-danger"
                           th:if="${#fields.hasErrors('priority')}"
                           th:errors="*{priority}"></small>
                </div>
                <div class="form-group" th:if="${todo.id != null}">
                    <label for="status" th:text="#{label.status}">Trạng thái</label>
                    <select class="form-control" th:field="*{status}" id="status">
                        <option th:each="s : ${statuses}"
                                th:value="${s}"
                                th:text="#{ 'label.' + ${s.toString().toLowerCase()} }">
                        </option>
                    </select>
                    <small class="text-danger"
                           th:if="${#fields.hasErrors('status')}"
                           th:errors="*{status}"></small>
                </div>
                <div class="mt-4">
                    <button type="submit" class="btn btn-primary btn-block" th:text="#{button.submit}">Submit</button>
                    <a th:href="@{/todo/list}" class="btn btn-secondary btn-block" th:text="#{label.action} == 'Action' ? 'Back' : 'Quay lại'">Quay lại</a>
                </div>
            </form>

        </div>
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
                integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
                crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
                integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
                crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
                integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
                crossorigin="anonymous"></script>
    </body>
</html>