<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Title</title>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
    <body>
        <div class="container">
            <div th:if="${message}" class="alert alert-success">
                <p th:text="#{${message}}"></p>
            </div>
            <div th:if="${error}" class="alert alert-danger">
                <p th:text="#{${error}}"></p>
            </div>
            <div class="text-right mb-3">
                <a href="?lang=vi">VI</a>
                <a href="?lang=en">EN</a>
            </div>
            <h2 th:text="#{label.owner.list(${ownerName})}">Danh sách của: <span th:text=""></span></h2>
            <a class="btn btn-primary mb-4" th:text="#{button.add}" th:href="@{/todo/create}">Thêm</a>
            <table class="table">
                <thead>
                    <tr>
                        <th th:text="#{label.id}">ID</th>
                        <th th:text="#{label.content}">Content</th>
                        <th th:text="#{label.duedate}">Due Date</th>
                        <th th:text="#{label.status}">Status</th>
                        <th th:text="#{label.priority}">Priority</th>
                        <th th:text="#{label.action}">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="item : ${todos}">
                        <td th:text="${item.id}"></td>
                        <td th:text="${item.content}"></td>
                        <td th:text="${#temporals.format(item.dueDate, 'yyyy-MM-dd')}"></td>
                        <td th:text="#{ 'label.' + ${item.status.toString().toLowerCase()} }"></td>
                        <td th:text="#{ 'label.' + ${item.priority.toString().toLowerCase()} }"></td>
                        <td>
                            <a class="btn btn-warning"
                               th:text="#{button.edit}"
                               th:href="@{/todo/edit/{id}(id=${item.id})}">Sửa</a>
                            <a class="btn btn-danger"
                               th:text="#{button.delete}"
                               th:href="@{/todo/delete/{id}(id=${item.id})}"
                               th:data-confirm-msg="#{confirm.delete}"
                               onclick="return confirm(this.getAttribute('data-confirm-msg'))">Xóa</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
                integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
                crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
                integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
                crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
                integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
                crossorigin="anonymous"></script>
    </body>
</html>